Repository AleksaC/aleksac.me: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc

eslint:
  name: eslint
  language: system
  entry: scripts/eslint-pre-commit.sh

tsc:
  name: type-checking
  language: system
  pass_filenames: false
  entry: pnpm --silent --prefix website typecheck

fix deploy worfklow trigger
  .github/workflows/deploy.yml
Due: none

add resume update action
  .github/workflows/resume-update.yml
Due: none

temporarily add pull request trigger for resume update action
  .github/workflows/resume-update.yml
Due: none

fix copy target
  .github/workflows/resume-update.yml
Due: none

final test
  .github/workflows/resume-update.yml
Due: none

fix path
  .github/workflows/resume-update.yml
Due: none

test
  .github/workflows/resume-update.yml
Due: none

temporarily allow all types for repository dispatch
  .github/workflows/resume-update.yml
Due: none

final version
  .github/workflows/resume-update.yml
Due: none

Update resume.pdf
  website/public/resume.pdf
Due: none

add resume update gh action (#7)
  .github/workflows/resume-update.yml
Due: none

roll back to node 20
  .github/workflows/deploy.yml
Due: none

roll back to node 20
  .github/workflows/lighthouse-ci.yml
Due: none

fix resume update gh action
  .github/workflows/resume-update.yml
Due: none

use deploy key for pushing to repo
  .github/workflows/resume-update.yml
Due: none

remove on pull request trigger
  .github/workflows/resume-update.yml
Due: none

fix resume update gh action (#8)
  .github/workflows/resume-update.yml
Due: none

add argocd image updater til
  website/_til/argocd-image-updater-doesn-t-update-images-by-default.md
Due: none

add top-level Makefile
  Makefile
Due: none

change prettier to local hook
  .pre-commit-config.yaml
Due: none

fix paths
  website/src/components/header.tsx
  website/src/components/layout.tsx
  website/src/components/post-list.tsx
  website/src/components/post.tsx
  website/src/components/share-buttons/index.tsx
  website/src/components/themeToggle.tsx
  website/src/config/index.ts
  website/src/constants/meta.ts
  website/src/constants/social-media.ts
  website/src/context/theme.tsx
  website/src/pages/404.tsx
  website/src/pages/_app.tsx
  website/src/pages/_document.tsx
  website/src/pages/blog/[slug].tsx
  website/src/pages/blog/index.tsx
  website/src/pages/index.tsx
  website/src/pages/til/[slug].tsx
  website/src/pages/til/index.tsx
  website/src/services/posts.ts
  website/src/types/post.ts
  website/src/utils/title-formatter.ts
  website/tsconfig.json
Due: eslint, tsc

fix link
  website/_posts/dont-use-pythondontwritebytecode-in-your-dockerfiles.md
Due: none

fix draft script
  scripts/add-draft.sh
Due: none

disable prefetch
  website/src/layouts/base/header/nav.astro
  website/src/layouts/base/header/types.ts
  website/src/layouts/base/layout.astro
  website/src/pages/index.astro
Due: eslint, tsc

change build format
  website/astro.config.ts
Due: eslint, tsc

go back to directory build format
  website/astro.config.ts
  website/src/layouts/base/layout.astro
  website/src/pages/sitemap.xml.ts
Due: eslint, tsc

add trailing slashes
  website/astro.config.ts
  website/src/layouts/posts/post-list.astro
Due: eslint, tsc

bring back lighthouse ci action
  .github/workflows/lighthouse-ci.yml
Due: none

remove old SKIP vars
  .github/workflows/pre-commit.yml
Due: none

add 404 page
  website/src/pages/404.astro
Due: none

add robots.txt
  website/public/robots.txt
Due: none

fix initial theme setting, formatting
  website/.prettierignore
  website/src/layouts/base/layout.astro
  website/src/layouts/base/theme/script.ts
  website/src/layouts/base/theme/theme-toggle.astro
  website/src/layouts/posts/post-list.astro
  website/src/pages/404.astro
Due: eslint, tsc

update README
  README.md
Due: none

update README
  .vale/config/vocabularies/Technical/accept.txt
  README.md
  website/src/layouts/base/layout.astro
Due: none

lhci updates
  .github/workflows/lighthouse-ci.yml
  website/lighthouserc.js
Due: eslint

fix prettier config
  website/prettier.config.mjs
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: \.(ts|mts|cts)$, \.tsx$
